// http://www.guidebookgallery.org/screenshots/macos80
// http://winmac.emuunlim.com/Images/Screenshots/OS8.jpg

@import '~bellmaker/src/less/bellmaker.less';
@import './fonts.less';
@import (reference) './global-variables.less';

@lg000: linear-gradient(0deg, #000 0%, #000 100%);
@lg00F: linear-gradient(0deg, #000 0%, #000 100%);
@lgCCC: linear-gradient(0deg, #CCC 0%, #CCC 100%);
@lgFFF: linear-gradient(0deg, #FFF 0%, #FFF 100%);
@lg777: linear-gradient(0deg, #777 0%, #777 100%);
@lg888: linear-gradient(0deg, #888 0%, #888 100%);
@lg999: linear-gradient(0deg, #999 0%, #999 100%);
@lgAAA: linear-gradient(0deg, #AAA 0%, #AAA 100%);
@lgBBB: linear-gradient(0deg, #BBB 0%, #BBB 100%);


@lgCCF: linear-gradient(0deg, #CCF 0%, #CCF 100%);
@lg66C: linear-gradient(0deg, #66C 0%, #66C 100%);

.os8_window {
    position: relative;
    background-image:
        @lgFFF,
        @lg000,
        @lg999, @lg999,
        @lgFFF, @lgFFF,
        @lgFFF, @lgFFF,
        @lg999, @lg999,
        @lg000, @lg000, @lg000, @lg000,
        @lg000, @lg000,
        @lgCCC;
    background-size:
        calc(~"100% - 2.6rem") calc(~"100% - 5.8rem"),
        calc(~"100% - 2.2rem") calc(~"100% - 5.4rem"),
        calc(~"100% - 2.0rem") 0.2rem, 0.2rem calc(~"100% - 5.2rem"),
        calc(~"100% - 2.0rem") 0.2rem, 0.2rem calc(~"100% - 5.2rem"),
        calc(~"100% - 0.8rem") 0.2rem, 0.2rem calc(~"100% - 0.8rem"),
        calc(~"100% - 0.8rem") 0.2rem, 0.2rem calc(~"100% - 0.8rem"),
        100% 0.2rem, 0.2rem 100%, 100% 0.2rem, 0.2rem 100%,
        100% 0.2rem, 0.2rem 100%,
        calc(~"100% - 0.6rem") calc(~"100% - 0.6rem");
    background-position:
        1.2rem 4.4rem,
        1.0rem 4.2rem,
        0.8rem 4.0rem, 0.8rem 4.0rem,
        0.8rem calc(~"100% - 1.0rem"), calc(~"100% - 1.0rem") 4.2rem,
        0.2rem 0.2rem, 0.2rem 0.2rem,
        0.4rem calc(~"100% - 0.4rem"), calc(~"100% - 0.4rem") 0.4rem,
        -0.2rem 0, 0 -0.2rem, -0.2rem calc(~"100% - 0.2rem"), calc(~"100% - 0.2rem") -0.2rem,
        0.4rem 100%, 100% 0.4rem,
        0.2rem 0.2rem;

    background-repeat: no-repeat;

    @media @da_baseline {
        width: 100%;
    }
    @media @da_small {
        width: @pw_small;
        margin: 0 auto;
    }
    @media @da_medium {
        width: @pw_medium;
    }
    @media @da_large {
        width: @pw_large;
    }
    h1, h3, h4, p, span, a, li {
        font-family: "charcoal";
        font-weight: 400;
    }
}

.os8_header {
    position: relative;
    padding-top: 0.8rem;
    margin-right: 6.8rem;
    margin-left: 3.4rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;

    background-image:
        @lgFFF, @lg999, @lgFFF, @lg999,
        @lgFFF, @lg999, @lgFFF, @lg999,
        @lgFFF, @lg999, @lgFFF, @lg999;

    background-size: calc(~"100% - 1.8rem") 0.2rem;

    background-position:
        0.8rem 0.8rem, 1.0rem 1.0rem, 0.8rem 1.2rem, 1.0rem 1.4rem,
        0.8rem 1.6rem, 1.0rem 1.8rem, 0.8rem 2.0rem, 1.0rem 2.2rem,
        0.8rem 2.4rem, 1.0rem 2.6rem, 0.8rem 2.8rem, 1.0rem 3.0rem;

    background-repeat: no-repeat;
}

.os8_head_button {
    top: 0.8rem;

    &, &:after {
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
    }

    &:hover {
        cursor: pointer;

        &:after {
            display: block;
        }
    }
    &.close {
        left: -2.6rem;
        background-position: 0 0;
    }
    &.resize {
        right: -2.6rem;
        //background-position: -2rem 0;
        background-position: -4rem 0;
    }
    &.minimize {
        right: -5.8rem;
        //background-position: -4rem 0;
        background-position: -8rem 0;
    }
    &:after {
        content: "";
        display: none;
        background-repeat: no-repeat;
        background-image: @lgFFF, @lgFFF,
        @lg999, @lg999;
        background-size:
            2.4rem 0.2rem, 0.2rem 2.4rem,
            2.4rem 0.2rem, 0.2rem 2.4rem;
        background-position:
            0 0, 0 0,
            0.2rem 2.4rem, 2.4rem 0.2rem;
    }
}

@head_text_padding: 1.4rem;
@pictures: 20rem;

.os8_header_text {
    height: 2.6rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
    background-image: @lgCCC, @lgCCC, @lgCCC, @lgCCC,
    @lgCCC, @lgCCC, @lgCCC, @lgCCC,
    @lgCCC, @lgCCC, @lgCCC, @lgCCC;
    background-repeat: no-repeat;
    background-size: calc(~"100% - 0.2rem") 0.2rem;

    background-position:
        0.0rem 0.0rem, 0.2rem 0.2rem, 0.0rem 0.4rem, 0.2rem 0.6rem,
        0.0rem 0.8rem, 0.2rem 1.0rem, 0.0rem 1.2rem, 0.2rem 1.4rem,
        0.0rem 1.6rem, 0.2rem 1.8rem, 0.0rem 2.0rem, 0.2rem 2.2rem;
}

.os8_content_container {
    position: relative;
    padding: 1rem 1.4rem 1.4rem 1.2rem;

    &.scrollable {
        padding-right: 4.4rem;
    }
}

.mac_os8_sprites {
    background-image: url("@{cssImagePath}mac_os8_sprites.png");
    background-repeat: no-repeat;
    //background-size: 6rem 4rem;
    background-size: 12rem 20rem;
}

.disable_body_scroll {
    height: 100vh;
    overflow: hidden;
}

// parent container of the scrolling section
.os8_content_scroll_container {
    float: none;
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    box-sizing: border-box;
    //width: calc(~"100% - 23rem");
    width: 100%;
    //overflow-y: visible;
}

.os8_window_resizer {
    position: absolute;
    right: 1.0rem;
    bottom: 1.0rem;
    width: 3rem;
    height: 3rem;
    padding: 0.4rem 0rem 0rem 0.4rem;
    z-index: 1;
    background-color: #CCC;
    background-repeat: no-repeat;
    background-image:
    @lg000, @lg000,
    @lgFFF, @lgFFF;
    background-size:
    3.2rem 0.2rem, 0.2rem 3.2rem,
    3.6rem 0.4rem, 0.4rem 3.6rem;
    background-position: 0 0;
}

.os8_nav_button {
    float: left;
    display: block;

    &.resize {
        width: 2.8rem;
        height: 2.8rem;
        // background-color: #F00;
        position: relative;
        background-position: 0.4rem -15.6rem;
    }
}

// scroll stuff
.mac_os8_scroll_bar {
    display: none;
    position: absolute;
    top: 3.8rem;
    right: 1.4rem;
    bottom: 7.2rem;
    border-left: 0.2rem solid #000;
    width: 2.8rem;
    background-color: #AAA;
    background-repeat: no-repeat;
    background-image:
        @lg777, @lg888,
        @lg777, @lg888, @lgBBB, @lgCCC;
    background-size:
        2.6rem 0.2rem, 2.2rem 0.2rem,
        0.2rem 100%, 0.2rem 100%, 0.2rem 100%, 0.2rem 100%;
    background-position:
        0 0.2rem, 0.2rem 0.4rem,
        0 0, 0.2rem 0, 2.4rem 0, 2.6rem 0;

    &.scroll_enabled {
        display: block;
    }
}
.mac_os8_scroll_tab {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    z-index: 3;
    background-color: #DDD;
    border-left: 0.2rem solid #000;
    left: -0.2rem;

    &.up {
        top: -2.8rem;
        border-bottom: 0.2rem solid #000;
        background-position: 0 -12rem;
    }
    &.down {
        bottom: -2.8rem;
        border-top: 0.2rem solid #000;
        background-position: -4rem -12rem;
    }
    &:after {
        position: absolute;
        width: 2.8rem;
        height: 2.8rem;
        top: 0rem;
        left: 0rem;
        content: "";
        background-repeat: no-repeat;
        background-image:
            @lgFFF, @lgFFF,
            @lgBBB, @lgBBB;
        background-size:
            2.6rem 0.2rem, 0.2rem 2.4rem;
        background-position:
            0 0, 0 0.2rem,
            0.2rem 2.6rem, 2.6rem 0.2rem;
    }
    &:hover {
        background-color: #CCC;

        &:after {
            background-image:
                @lgFFF, @lgFFF,
                @lg999, @lg999;
        }
    }
    &:active {
        background-color: #DDD;

        &:after {
            background-image:
                @lgAAA, @lgAAA,
                @lgFFF, @lgFFF;
        }
    }
}
.mac_os8_scroll_button {
    position: absolute;
    width: 2.8rem;
    height: 3rem;
    background-position: -8em -12rem;
    border-top: 0.2rem solid #000;
    border-bottom: 0.2rem solid #000;
    //top: calc(~"53.4% - 3.4rem");
    background-color: #99F;

    &:after {
        position: absolute;
        content: "";
        display: block;
        bottom: -0.6rem;
        height: 0.4rem;
        width: 2.8rem;
        background-repeat: no-repeat;
        background-image:
            @lg777, @lg888;
        background-size:
            2.6rem 0.2rem, 2.2rem 0.2rem;
        background-position:
            0 0rem, 0.2rem 0.2rem;
    }
    &:before {
        position: absolute;
        width: 2.8rem;
        height: 3.0rem;
        top: 0rem;
        left: 0rem;
        content: "";
        background-repeat: no-repeat;
        background-image:
            @lgCCF, @lgCCF,
            @lg66C, @lg66C;
        background-size:
            2.6rem 0.2rem, 0.2rem 2.6rem;
        background-position:
            0 0, 0 0.2rem,
            0.2rem 2.8rem, 2.6rem 0.2rem;
    }
    &:hover {
        background-color: #88F;

    }
    &:active {
        background-color: #99F;

        &:before {
            background-image:
            @lg66C, @lg66C,
            @lgCCF, @lgCCF;
        }
    }
}
