@import (reference) './global-variables.less';

@serif: 'Times New Roman', Times, serif;

#retro_rules {
    background-image: url("@{cssImagePath}thetropics_shores_9189_cartoon1_315x237.gif");

    .geocities_me {
        h3 {
            padding: 2rem 0;
            font: normal normal bold 2.4rem/2.8rem @serif;
        }
        li {
            padding-left: 4rem;
            font: normal normal bold 1.6rem/1.6rem @serif;
        }

        @media @da_large {
            h3 {
                padding: 2.4rem 0;
                font-size: 3rem;
                line-height: 4rem;
            }
            li {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
    }

    .depression-hole, .depression-help {
        h1 {
            margin: 0 1rem;
            font-size: 2.8rem;
            line-height: 5.6rem;
            text-align: center;
        }
        h3 {
            font-size: 2.1rem;
            line-height: 3.5rem;
        }
        h4, p, li {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
        h4 {
            font-weight: bold;
            text-align: center;
            font-size: 1.4rem;
            line-height: 2.8rem;
        }
        p, li {
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
        ol, p {
            padding-bottom: 1.4rem;
            &:last-child {
                padding-bottom: 0;
            }
        }
        p {
            margin: 0;
        }
        li {
            padding-left: 0;
            margin-left: 3rem;
        }

        @media @da_large {
            h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }
            p, li {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            ol, p {
                padding-bottom: 2.4rem;
            }
        }
    }

    .depression-hole {
        padding: 0 1rem;
        background-image: url("@{cssImagePath}southbeach_marina_6930_coral_135x135.jpg");
        h3, p, li {
            font-family: 'Georgia', @serif;
        }
    }

    .depression-help {
        padding: 1rem;
        h3 {
            text-align: center;
        }
        p, li {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}   