@serif: 'Times New Roman', Times, serif;;

#retro_rules {
    background-image: url("./images/css/thetropics_shores_9189_cartoon1_315x237.gif");

    .geocities_me {
        h3 {
            padding: 2rem 0;
            font: normal normal bold 2.4rem/2.8rem @serif;

        }
        li {
            padding-left: 4rem;
            font: normal normal bold 1.6rem/1.6rem @serif;
        }
        p {
            padding-bottom: 2rem;
            font: normal normal normal 1.6rem/2rem @serif;
        }
    }
    .depression-filter {
        padding:  0 2rem;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(50px);  
        -webkit-backdrop-filter: blur(50px);
        border-radius: 0 4rem;
    }
}   