<!doctype html>
<html lang="en" dir="ltr" xml:lang="en" class="no-js"
      prefix="og: http://ogp.me/ns#
fb: http://ogp.me/ns/fb#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/terms/
v: http://rdf.data-vocabulary.org/#
owl: http://www.w3.org/2002/07/owl#">
<head>
    <meta charset="utf-8">
    <title property="dc:title">Here, Read This</title>
    <!-- Metadata Standards + Dublin Core RDFA -->
    <meta name="robots" content="INDEX, FOLLOW"/>
    <meta name="keywords" content="Here, Read This, Jimmy Ha, web development, photography, Baking, Gardening"/>
    <meta property="dc:creator" name="author" content="Jimmy Ha"/>
    <meta property="dc:created" content="2014-01-15"/>
    <meta property="dc:language" content="en-US"/>
    <!-- Open Graph RDFa -->
    <meta property="og:title" content="Here, Read This"/>
    <meta property="og:description" name="description"
          content="A website by Jimmy Ha about photography, gardening, and baking."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.paths.site %>"/>
    <!--
    <meta property="og:image" content="/images/branding/herereadthis_fb_320x320.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="320" />
    <meta property="og:image:height" content="320" />
    <meta property="og:site_name" content="Here, Read This" />
    -->
    <!-- browser-specific tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- Facebook RDFa -->
    <meta property="fb:admins" content="104276"/>
    <meta property="fb:app_id" content="146371075435162"/>
    <!-- Bing Site Verification -->
    <meta name="msvalidate.01" content="F7EE73CB34D5AF1C9DC816A5C75C32E6"/>
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="mczqUD0AU2jqxVwDld32k25wCRWJb5bMuQoCzvQCdfE"/>
    <!-- Google Plus Verification -->
    <link rel="author" href="https://plus.google.com/113505279995940079003"/>
    <link rel="publisher" href="https://plus.google.com/110556642392047316226"/>
    <!-- Pinterest Site Verification -->
    <meta name="p:domain_verify" content="642e03628ffc0809c6eab89aa14fb65b"/>
    <!-- Friend of a Friend FOAF -->
    <!--
    <link rel="foaf:primaryTopic" type="application/rdf+xml" title="FOAF" href="http://herereadthis.com/build/xml/foaf.rdf" />
    -->
    <base href="/"/>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.paths.site %>" />
    <!--<link rel="icon" href="favicon.ico" type="image/x-icon" />-->
</head>
<body>
<div id="retro_homepage">

    <header id="the-real-banner"
            role="banner"
            ref="starfield parallax_scroll"
            class="starfield parallax_scroll"
            data-parallax-speed="-50">
        <div class="bellmaker_container">
            <div id="construction" role="presentation"></div>
            <div id="banner_image"
                 ref="bannerImg">
                <a href="" ref="bannerAnchor" id="banner-image-link">
                    <span>Stand by for a 90s image!</span>
                    <img id="banner-image" ref="bannerImage"/>
                </a>
            </div>
            <div class="popup_box_simulator">
                <span class="retro_spriter">Welcome to my site!</span>
                <h1 id="color-shift-title-1"
                    data-color-shift-start="F00"
                    data-color-shift-end="FF9600">Here, Read This</h1>
                <p typeof="foaf:Person" resource="#/me/" id="banner_description">
                    <span>Hi! My Name is </span>
                    <span property="foaf:name">
                        <span property="foaf:givenname" content="James"></span>
                        <span property="foaf:nick">Jimmy</span>
                        <span property="foaf:family_name">Ha</span>
                    </span>
                    <span property="foaf:givenname" content="James"></span>
                    <span property="foaf:logo" content="./images/branding/herereadthis_logo.svg"></span>
                    <span> and I </span>
                    <span property="v:title" content="UX Web Developer">make web pages</span>,
                    <span resource="<%= htmlWebpackPlugin.options.paths.site %>" property="v:url foaf:homepage"></span>
                    specializing in React | Redux | Hapi frameworks.
                    I live and play in the
                    <span property="v:Postal" resource="#/me/address/"
                          typeof="v:Address">
                         <span property="v:locality" content="Washington"></span>
                         <span property="v:region">DC</span>
                    </span>
                    <span> metro area. </span>
                    <span property="foaf:based_near" resource="#/me/geo/"
                          typeof="geo:point"
                          prefix="geo: http://www.w3.org/2003/01/geo/wgs84_pos#">
                         <span property="geo:lat" content="38.886757"></span>
                         <span property="geo:long" content="-77.041626"></span>
                    </span>
                    I&rsquo;m really into (analog) film
                    <span property="foaf:topic_interest" content="photography">photography</span>
                    and you can see my pictures on my <a href="https://www.instagram.com/herereadthis/">Instagram</a>.
                    I also
                    <span property="foaf:topic_interest" content="gardening">grow roses</span>,
                    <span property="foaf:topic_interest" content="baking">bake pastries</span>,
                    join <span property="foaf:topic_interest" content="Burning Man">Burner festivals</span>,
                    and sometimes practice <span property="foaf:topic_interest">Kyudo</span>, which is Japanese archery.
                </p>
                <a class="popup_button retro_spriter popup_close"><span></span></a>
                <a class="popup_button retro_spriter popup_resize">Resize</a>
                <a class="popup_button retro_spriter popup_minimize">Minimize</a>
            </div>
        </div>
    </header>

    <article id="retro_art_1"
             class="starfield cinnamon_fantasy parallax_scroll"
             data-parallax-speed="-50"
             data-cinnamon-fantasy ref="starfield">
        <h2>This website is all that and a bag of chips!</h2>

        <section class="bellmaker_container">

            <div class="fantasy_box"></div>

            <div class="win95_scrollbar">
                <div class="nav_button"></div>
                <div class="scroll_space" style="height: 10rem;"></div>
                <div class="nav_button"></div>
            </div>

            <div class="centered_image">
                <div data-sprite="netscape_88x31"></div>
            </div>


            <h3 class="before_text_1">
                <span>This page was created by Jimmy Ha. Last updated:
                    <time id="last-updated" rdf="dc:modified"></time>
                </span>
            </h3>

            <div id="hit_counter">
                <div><p>~~Congratulations, you are the</p></div>
                <div ref="HitCounter" data-figures="7">
                    <div id="hit-counter-container"
                         data-hit-counter
                         data-figures="7"
                         data-count="5671"
                         style=""></div>
                </div>
                <div><p>visitor to this site!~~</p></div>
            </div>

            <div class="centered_image" style="padding: 1rem">
                <div data-sprite="broken_image"></div>
            </div>

            <div id="email_joke">
                <div><p>My Email:</p></div>
                <div class="icon_box"><div data-sprite="email"></div></div>
                <div>
                    <p><a href="mailto:herereadthis@hotmail.com">herereadthis@hotmail.com</a></p>
                </div>
            </div>

            <div class="centered_image" style="padding: 1rem">
                <div data-sprite="under_construction_128x40"></div>
            </div>

            <hr class="rainbow_gradient"/>
        </section>

        <section class="bellmaker_container geocities_me">
            <h3 style="text-align: center">Don&rsquo;t ever trust dolphins!</h3>
            <table class="old_school_table">
                <tr>
                    <td>
                        <div class="dancing_baby">
                            <img src="<%= htmlWebpackPlugin.options.paths.assetsImages %>homepage/dancing_baby_170x230.gif"
                                 alt="Dancing Baby" /></div>
                        <p style="text-align: center">&amp;nbsp;</p>
                        <div class="centered_image">
                            <div data-sprite="tripod_125x71"></div>
                        </div>
                    </td>
                    <td>
                        <div class="centered_image">
                            <img src="<%= htmlWebpackPlugin.options.paths.assetsImages %>homepage/power_rangers_500x375.gif"/>
                        </div>
                    </td>
                </tr>
            </table>
            <hr class="rainbow_gradient"/>
        </section>
    </article>

    <article id="riley_fu" ref="rileyFu">
        <h2 class="bellmaker_container">I swear, I actually know how to code.</h2>

        <section class="bellmaker_container">
            <h3>Github Repositories!</h3>
            <ul>
                <li><strong><a
                    href="https://github.com/herereadthis/anyone"
                    title="anyone">anyone</a></strong>,
                    <span>a boilerplate Python package based on a poem by e.e. cummings (also available on </span>
                    <a href="https://pypi.python.org/pypi/anyone">PyPi index</a>)
                </li>
                <li><strong><a
                    href="https://github.com/herereadthis/ninian"
                    title="Ninian">Ninian</a></strong>,
                    <span>the (current) codebase for the &ldquo;Here, Read This&rdquo; website, buitl with Webpack and ES6</span>
                </li>
                <li><strong><a
                    href="https://github.com/herereadthis/raspberry-pi-hello-world"
                    title="raspberry-pi-hello-world">raspberry-pi-hello-world</a></strong>,
                    <span>a Raspberry Pi + ARM + Docker Image boilerplate</span>
                </li>
            </ul>
            <div data-sprite="broken_image"></div>
            <p>&lt;BR&gt;</p>
            <h3>Cool code things on this page:</h3>
            <ul>
                <li>The <strong><a href="https://github.com/herereadthis/ninian/blob/master/src/classes/hit-counter.js" title="view hit counter JS on GitHub">hit counter</a></strong> is drawn with HTML5 canvas.</li>
                <li>This site will render on any device: your phone, your tablet, or your computer. It is <em>reponsive</em> and <em>mobile-friendly</em>.</li>
                <li>Okay whatever, I&rsquo;ll be honest: you know how barbers all have terrible haircuts? Well, most web developers don&rsquo;t have personal websites, but I do, so&hellip;yay?</li>
                <li>But while I&rsquo;m at work, I&rsquo;m working on a React application with a Hapi backend. The latest challenges at work are given the recent trends with functional JavaScript, maybe just maybe somes using classes in our application might make managing utility functions better.</li>
                <li><a href="" id="clear-local-storage">Click here to clear local storage cache</a></li>
            </ul>
            <div data-sprite="broken_image"></div>
            <p>&lt;BR&gt;</p>
        </section>
    </article>

    <article id="retro_art_2"
             class="starfield parallax_scroll"
             data-parallax-speed="-50"
             ref="starfield"
             style={titanticStyle}>
        <h2>Here are some awesome thing!</h2>
        <section class="bellmaker_container geocities_me">
            <h3>1997 was the best year ever!</h3>

            <div class="centered_image" style="width: 46.8rem;height: 6rem;">
                <img src="<%= htmlWebpackPlugin.options.paths.assetsImages %>homepage/titanic_468x60.jpg"/>
            </div>
        </section>
    </article>

    <article id="retro_rules" style="padding-top: 2rem;">
        <h2 style="display: none;">Here&rsquo;s some good advice I never follow.</h2>
        <section class="bellmaker_container geocities_me">
            <h3>Here are 5 rules for life:</h3>
            <ul>
                <li>The secret to communication is remembering that what the other person knows is different than what I know.</li>
                <li>It&rsquo;s okay to have issues; everyone has issues.</li>
                <li>Acceptance does not require understanding.</li>
                <li>If I see a problem, and the solution for the problem is for other people to change, then I am the problem.</li>
                <li>I am the company I keep.</li>
            </ul>
            <hr class="rainbow_gradient"/>
            <h3>Here are 3 rules for Burning Man virgins:</h3>
            <ul>
                <li>At some point, all your friends are going to ditch you. It&rsquo;s okay.</li>
                <li>You are going to meet people who look at the world in an entirely different way than you do, and you may never understand them. It&rsquo;s okay.</li>
                <li>You have to be able to make your own fun. It won&rsquo;t happen for you, and it&rsquo;s okay.</li>
            </ul>
            <hr class="rainbow_gradient"/>
        </section>
        <section class="bellmaker_container">
            <div class="popup_box_simulator">
                <span class="retro_spriter">What is having depression like?</span>
                <div class="depression-hole">
                    <h1 id="color-shift-title-2"
                        data-color-shift-start="008080"
                        data-color-shift-end="E34234">What is having depression like?</h1>
                    <h4>Depression can seem like being stuck in a hole in the ground.</h4>
                    <p>You&rsquo;re not really sure when you fell into this hole, or who put this giant hole in the ground, but here you are. The hole is pretty deep and you can just barely see the sky from where you are standing. You try to climb out of the hole, but the sides are steep and slippery and you just fall back down.</p>
                    <p>&ldquo;Hey what the hell? Nobody wants to be trapped in a hole! I don&rsquo;t belong here!&rdquo; You&rsquo;re gonna try to escape again. But the more you try, the more tired your arms get. Soon, you don&rsquo;t have the energy to climb.</p>
                    <p>At some point a friend comes by and asks, &ldquo;hey sup how&rsquo;s it going down there?&rdquo; You smile and say, &ldquo;I&rsquo;m fine.&rdquo; (Nobody likes a complainer.) Then your friend offers to pull you out. Your friend leans over the side, extends a hand, and you grab it. But your hands are covered in mud so you lose your grip and slip again. The friend says, &ldquo;hey, maybe you always have some rope with you.&rdquo;</p>
                    <p><em>Gee thanks, that was the best advice ever.</em> Later, another friend comes by and tries to help. But this friend miscalculates the edge of the hole and almost falls into the hole with you. You say, &ldquo;hey you better not try again, or else I might drag you down with me. Just um, go enjoy the sunshine out there or something.&rdquo;</p>
                    <p style="padding-bottom: 0;">After some time, nobody comes by to visit anymore. Either you&rsquo;ve told them all to go away or they&rsquo;ve forgotten about you, but you&rsquo;re not sure. You start to forget what life was like before you fell into this hole. Maybe you've been in this hole forever, or maybe you deserve to be here.  <em>You&rsquo;re stuck in this hole because this is where you belong.</em></p>
                </div>
                <a class="popup_button retro_spriter popup_close">Close</a>
                <a class="popup_button retro_spriter popup_resize">Resize</a>
                <a class="popup_button retro_spriter popup_minimize">Minimize</a>
            </div>

            <hr class="rainbow_gradient"/>

            <div class="os8_window bellmaker_container" ref="ninetiesBox">
                <div class="os8_header">
                    <div
                        class="os8_head_button mac_os8_sprites close"
                        onClick={this.goBackToHomepage}></div>
                    <div
                        class="os8_head_button mac_os8_sprites resize"
                        onClick={this.goBackToHomepage}></div>
                    <div
                        class="os8_head_button mac_os8_sprites minimize"
                        onClick={this.goBackToHomepage}></div>
                    <div class="os8_header_text">
                        <span>What can I do?</span>
                    </div>
                </div>
                <div class="os8_content_container scrollable">
                    <div class="os8_content_scroll_container"
                        id="os8_content_scroll_container"
                        onScroll={this.handleScroll.bind(this)}
                        ref="scrollBoxContainer">
                        <div class="depression-help">
                            <h3>How can I help someone with depression?</h3>
                            <h4>(Especially if this person doesn&rsquo;t want help?)</h4>
                            <p>You can&rsquo;t force a person to accept your help, but you can let them know they are not alone. If someone with depression is willing to talk to you, then  remember a few things:</p>
                            <ol>
                                <li>Don&rsquo;t try to fix their problems and avoid giving advice, i.e., &ldquo;If I were you, I&rsquo;d&hellip;&rdquo;</li>
                                <li>Don&rsquo;t say patronizing crap like, &ldquo;Everything&rsquo;s gonna work out,&rsquo; or &ldquo;It&rsquo;ll get better.&rdquo;</li>
                                <li>The goal isn&rsquo;t to make yourself feel better. You&rsquo;re not a hero to the rescue. This isn&rsquo;t about you.</li>
                                <li>While you should do more listening than talking, don&rsquo;t let yourself become a verbal punching bag.</li>
                                <li>You are not their clinical therapist. Don&rsquo;t diagnose them.</li>
                            </ol>
                            <h4>Your goal should be to make sure they are safe.</h4>
                            <ol>
                                <li>Ask them what they&rsquo;ve been eating, and how much sleep they&rsquo;re   getting. Ask them what they are doing tomorrow or the day after. <em>It&rsquo;s important to hear about concrete plans in the near future.</em></li>
                                <li>Ask &ldquo;How&rdquo; or &ldquo;What&rdquo;  questions instead of &ldquo;Why&rdquo; questions. For example, &ldquo;What&rsquo;s making you feel this way?&rdquo; is much better than &ldquo;Why are you sad?&rdquo;</li>
                                <li>A depressed person&rsquo;s sense of reality is distorted. They might say things that aren&rsquo;t true, e.g., &ldquo;I can&rsquo;t do anything right.&rdquo; But debating facts with them might just cause them to shut down. Instead, you can validate feelings: &ldquo;It must be overwhelming&hellip;&rdquo;</li>
                                <li>Finally, if they are alone and you are reasonably sure they will harm themselves, then call emergency services.</li>
                            </ol>
                        </div>
                        <!--
                        <div class="mac_os8_button">
                            <a href="">View More...</a>
                        </div>
                        -->
                    </div>

                    <div class="mac_os8_scroll_bar scroll_enabled">
                        <div onClick="this.tabScroll.bind(this, 'up')"
                                class="mac_os8_scroll_tab mac_os8_sprites up"></div>
                        <div onClick="this.tabScroll.bind(this, 'down')"
                                class="mac_os8_scroll_tab mac_os8_sprites down"></div>
                        <div class="mac_os8_scroll_button mac_os8_sprites"
                                onMouseDown="this.startDragScrollButton.bind(this)"
                                ref="macScrollButton" style=""></div>
                    </div>
                    <div class="os8_window_resizer">
                        <a class="os8_nav_button mac_os8_sprites resize"
                            onClick="this.handleClick.bind(this, 'prev')"></a>
                    </div>
    
                    <!--
                    <div class="os8_window_navigator">
                        <a class="os8_nav_button mac_os8_sprites previous"
                            onClick="this.handleClick.bind(this, 'prev')"></a>

                        <div class="os8_nav_button counter">
                            <span>1</span>
                            <span>/</span>
                            <span>8</span>
                        </div>
                        <a class="os8_nav_button mac_os8_sprites next"
                            onClick="this.handleClick.bind(this, 'next')"></a>
                    </div>
                    -->
                </div>
            </div>
            <hr class="rainbow_gradient"/>
            <div class="centered_image with_border">
                <img src="<%= htmlWebpackPlugin.options.paths.assetsImages %>homepage/irene_430x464.png"
                     width="215"
                     height="232"/>
            </div>
        </section>
    </article>

    <footer role="contentinfo"
            class="starfield parallax_scroll"
            data-parallax-speed="-50">
        <div id="frames_foo">
            <div class="frames_address_bar retro_spriter">
                <span class="retro_spriter"><%= htmlWebpackPlugin.options.paths.site %></span>
            </div>
            <div class="frames_nav_column frames_column">
                <section>
                    <p>No duh!</p>
                </section>
            </div>
            <div class="frames_main_column frames_column">
                <section>
                    <h2>Kim&rsquo;s Fable</h2>

                    <p>Once upon a time, there was a little frog. His name was Albert. Albert was a young frog and he still lived at his mother and father&rsquo;s pad. They were decent people, though their rules could be strict. They drove him crazy sometimes, but whose parents are ever normal?</p>

                    <p>So, one day, Albert went to a rave located in the cattails. A skunk was throwing it, and nobody should trust a skunk. But peter was a decent fellow and Albert had lent him five bucks, so it would be cool. Also, it was Wednesday and you'd be surprised how boring Wednesdays could be in the lake. Bingo night is no place for a young frog to be.</p>

                    <p>Since he wasn&rsquo;t very popular, (green really wasn&rsquo;t his color) he spent majority of his time grooving in the loser wall. He didn't take the mushroom that most of the other animals were taking. He knew what they could do to your life and your brain.</p>

                    <p>A water bug (who was being particularly belligerent and malicious too) noticed Albert and commenced to pick on him. All the other animals joined in the laugher (including peter, that inconsiderate bitch). Albert, who was normally very stolid in such situations, started to cry and swam away. He was on his way home, he was thinking about how he had lied to his parents to come here. And he had only been humiliated. It was a waste of a perfectly decent lie too. How many times can you tell your parents you got a goldfish-walking job that your not going to charge for, because the people are elderly and you felt bad?</p>

                    <p>He may have lied and cheated his way here, but he was proud to say he didn't have to lie about not doing any substances or giving into peer pressure. He didn&rsquo;t mate, he didn't do drugs, and he didn&rsquo;t-Suddenly, an unseen motorboat passed and ripped Albert to ribbons. His thoughts and worries disappeared as quickly as his mass sank to the bottom of the lake.</p>

                    <p>Moral of the story: never swim during duck season</p>
                </section>
                <section>
                    <ul class="social_fu" resource="#/me/" typeof="foaf:Person" data-module="social_fu">
                        <li property="foaf:account" resource="#/me/instagram/" typeof="foaf:OnlineAccount">
                            <span property="foaf:accountServiceHomepage" resource="https://www.instagram.com/"><span>Instagram</span></span>
                            <a rel="foaf:homepage" href="https://www.instagram.com/herereadthis/"
                                property="foaf:accountName">herereadthis</a> 
                        </li>
                        <li property="foaf:account" resource="#/me/twitter/" typeof="foaf:OnlineAccount">
                            <span property="foaf:accountServiceHomepage" resource="https://twitter.com/"><span>Twitter</span></span>
                            <a rel="foaf:homepage" href="http://twitter.com/herereadthis"
                               property="foaf:accountName">herereadthis</a>
                        </li>
                        <li property="foaf:account" resource="#/me/github/" typeof="foaf:OnlineAccount">
                            <span property="foaf:accountServiceHomepage" resource="https://github.com/"><span>GitHub</span></span>
                            <a rel="foaf:homepage" href="https://github.com/herereadthis/ninian"
                               property="foaf:accountName">herereadthis</a>
                        </li>
                        <li property="foaf:account" resource="#/me/fourquare/" typeof="foaf:OnlineAccount">
                            <span property="foaf:accountServiceHomepage" resource="https://fourquare.com/"><span>Foursquare</span></span>
                            <a rel="foaf:homepage" href="https://foursquare.com/herereadthis"
                               property="foaf:accountName" title="herereadthis">herereadthis</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div
                class="frames_scrollbar frames_arrows retro_spriter"
                role="presentation"><span></span></div>
            <div
                class="frames_scrollbar frames_arrows retro_spriter"
                role="presentation"><span></span></div>
            <div
                class="frames_horizontal_scroll frames_arrows retro_spriter"
                role="presentation"><span></span></div>
        </div>
        <div class="frames_start_bar" role="presentation"></div>
    </footer>
</div>


        <!--
        <li property="foaf:account" resource="#/me/facebook/" typeof="foaf:OnlineAccount">
            <span property="foaf:accountServiceHomepage" resource="https://www.facebook.com/"><span>Facebook</span></span>
            <a rel="foaf:homepage" href="https://www.facebook.com/herereadthis"
                property="foaf:accountName" title="herereadthis">herereadthis</a>
        </li>
        <li property="foaf:account" resource="#/me/pinterest/" typeof="foaf:OnlineAccount">
            <span property="foaf:accountServiceHomepage" resource="http://pinterest.com/"><span>Pinterest</span></span>
            <a rel="foaf:homepage" href="http://pinterest.com/herereadthis/"
                property="foaf:accountName">herereadthis</a>
        </li>
        -->
        <!--
        <li property="foaf:account" resource="#/me/flickr/" typeof="foaf:OnlineAccount" style="display: none;">
         <span property="foaf:accountServiceHomepage" resource="http://www.flickr.com/">Flickr</span>
         <a rel="foaf:homepage" href="http://www.flickr.com/photos/applesanity/"
         property="foaf:accountName">applesanity</a>
         </li>
     -->
</body>
</html>
